## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

**1. Loading data**

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from scipy.stats import pearsonr
import scipy.stats
import os
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib

Using matplotlib backend: <object object at 0x000001C8CAF6DA60>

Open 'Data/kc_house_data.csv' using pd.read_csv

In [3]:
data = pd.read_csv('Data/kc_house_data.csv', index_col=0)
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

Open the 'Data/column_names.md' using os function

In [4]:
file_path = 'Data/column_names.md'

if os.path.isfile(file_path) and file_path.endswith('.md'):
    with open(file_path, 'r') as file:
        contents = file.read()
        print(contents)

# Column Names and Descriptions for King County Data Set
* `id` - Unique identifier for a house
* `date` - Date house was sold
* `price` - Sale price (prediction target)
* `bedrooms` - Number of bedrooms
* `bathrooms` - Number of bathrooms
* `sqft_living` - Square footage of living space in the home
* `sqft_lot` - Square footage of the lot
* `floors` - Number of floors (levels) in house
* `waterfront` - Whether the house is on a waterfront
  * Includes Duwamish, Elliott Bay, Puget Sound, Lake Union, Ship Canal, Lake Washington, Lake Sammamish, other lake, and river/slough waterfronts
* `view` - Quality of view from house
  * Includes views of Mt. Rainier, Olympics, Cascades, Territorial, Seattle Skyline, Puget Sound, Lake Washington, Lake Sammamish, small lake / river / creek, and other
* `condition` - How good the overall condition of the house is. Related to maintenance of house.
  * See the [King County Assessor Website](https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r) for further explanation of each condition code
* `grade` - Overall grade of the house. Related to the construction and design of the house.
  * See the [King County Assessor Website](https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r) for further explanation of each building grade code
* `sqft_above` - Square footage of house apart from basement
* `sqft_basement` - Square footage of the basement
* `yr_built` - Year when house was built
* `yr_renovated` - Year when house was renovated
* `zipcode` - ZIP Code used by the United States Postal Service
* `lat` - Latitude coordinate
* `long` - Longitude coordinate
* `sqft_living15` - The square footage of interior housing living space for the nearest 15 neighbors
* `sqft_lot15` - The square footage of the land lots of the nearest 15 neighbors

**2. DATA PREPARATION**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21597 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  object
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   view           21534 non-null  object
 9   condition      21597 non-null  object
 10  grade          21597 non-null  object
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  object
 13  yr_built       21597 non-null  int64
 14  yr_renovated   17755 non-null  float64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(8), object(6)
memory usage: 3.5+ MB

In [6]:
data.shape

(21597, 20)

In [7]:
data['waterfront'].value_counts()

waterfront
NO     19075
YES      146
Name: count, dtype: int64

In [8]:
data['waterfront'].isna().sum()

2376

Filling the missing values in column 'yr_renovated' with the median of the column values

In [9]:
data['yr_renovated'].fillna(data['yr_renovated'].median(), inplace = True)

Dropping missing values

In [10]:
#Dropping waterfront rows with missing values
data.dropna(subset = 'waterfront', inplace = True)

In [11]:
#Dropping view rows with missing values
data.dropna(subset = 'view', inplace = True)

In [12]:
data.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19164 entries, 6414100192 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           19164 non-null  object
 1   price          19164 non-null  float64
 2   bedrooms       19164 non-null  int64
 3   bathrooms      19164 non-null  float64
 4   sqft_living    19164 non-null  int64
 5   sqft_lot       19164 non-null  int64
 6   floors         19164 non-null  float64
 7   waterfront     19164 non-null  object
 8   view           19164 non-null  object
 9   condition      19164 non-null  object
 10  grade          19164 non-null  object
 11  sqft_above     19164 non-null  int64
 12  sqft_basement  19164 non-null  object
 13  yr_built       19164 non-null  int64
 14  yr_renovated   19164 non-null  float64
 15  zipcode        19164 non-null  int64
 16  lat            19164 non-null  float64
 17  long           19164 non-null  float64
 18  sqft_living15  19164 non-null  int64
 19  sqft_lot15     19164 non-null  int64
dtypes: float64(6), int64(8), object(6)
memory usage: 3.1+ MB

Checking for duplicates

In [14]:
data.duplicated().sum()

0

In [15]:
data['grade'].value_counts()

grade
7 Average        7949
8 Good           5398
9 Better         2311
6 Low Average    1804
10 Very Good     1014
11 Excellent      356
5 Fair            212
12 Luxury          81
4 Low              25
13 Mansion         13
3 Poor              1
Name: count, dtype: int64

**Selecting the required features and placing it under data**

In [16]:
data = data[['price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','condition','grade','view','date','yr_renovated']]
data.head(10)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,view,date,yr_renovated
id,,,,,,,,,,,,
6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,NONE,12/9/2014,1991.0
5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,NONE,2/25/2015,0.0
2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,NONE,12/9/2014,0.0
1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,NONE,2/18/2015,0.0
7237550310,1230000.0,4,4.50,5420,101930,1.0,NO,Average,11 Excellent,NONE,5/12/2014,0.0
1321400060,257500.0,3,2.25,1715,6819,2.0,NO,Average,7 Average,NONE,6/27/2014,0.0
2414600126,229500.0,3,1.00,1780,7470,1.0,NO,Average,7 Average,NONE,4/15/2015,0.0
3793500160,323000.0,3,2.50,1890,6560,2.0,NO,Average,7 Average,NONE,3/12/2015,0.0
9212900260,468000.0,2,1.00,1160,6000,1.0,NO,Good,7 Average,NONE,5/27/2014,0.0
114101516,310000.0,3,1.00,1430,19901,1.5,NO,Good,7 Average,NONE,5/28/2014,0.0

In [17]:
data['yr_renovated'].value_counts()

yr_renovated
0.0       18513
2014.0       64
2013.0       29
2005.0       27
2000.0       25
          ...
1967.0        1
1934.0        1
1944.0        1
1950.0        1
1974.0        1
Name: count, Length: 70, dtype: int64

In [18]:
data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_renovated
count,1.916400e+04,19164.000000,19164.000000,19164.000000,1.916400e+04,19164.000000,19164.000000
mean,5.414490e+05,3.374452,2.117029,2082.038301,1.506174e+04,1.495173,67.805416
std,3.709009e+05,0.928676,0.769241,921.918226,4.077215e+04,0.540308,361.607518
min,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000
25%,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1920.000000,7.620000e+03,1.500000,0.000000
75%,6.439625e+05,4.000000,2.500000,2550.000000,1.072000e+04,2.000000,0.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,2015.000000

**3.FORMULATING HYPOTHESIS**

Null hypothesis: Home renovations are does not increase the estimated value of houses.\
Alternative hypothesis: Home renovations does increase the estimated value of houses.

**4.HYPOTHESIS TESTING**

Determining the normal distribution of the dataset

In [19]:
x = data['sqft_living']
plt.hist(x, bins = 20, histtype = 'bar')
plt.show()

In [21]:
#determining the y variable and the x variable
y = data['price']
x = data[['bedrooms','bathrooms','sqft_living']]
model = sm.OLS(y, sm.add_constant(x))
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.511
Model:                            OLS   Adj. R-squared:                  0.511
Method:                 Least Squares   F-statistic:                     6667.
Date:                Thu, 06 Jul 2023   Prob (F-statistic):               0.00
Time:                        01:51:45   Log-Likelihood:            -2.6610e+05
No. Observations:               19164   AIC:                         5.322e+05
Df Residuals:                   19160   BIC:                         5.322e+05
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        7.465e+04   7413.969     10.069      0.000    6.01e+04    8.92e+04
bedrooms    -5.948e+04   2500.770    -23.785      0.000   -6.44e+04   -5.46e+04
bathrooms    6667.2322   3763.304      1.772      0.076    -709.174     1.4e+04
sqft_living   313.8263      3.296     95.223      0.000     307.366     320.286
==============================================================================
Omnibus:                    12765.160   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           432358.026
Skew:                           2.726   Prob(JB):                         0.00
Kurtosis:                      25.622   Cond. No.                     9.36e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.36e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""